{% extends 'base.html' %}
{% block title %}Contact Us
{% endblock title %}
{% block body %}

<style>
.Row{
  display : table;
  text-align : center;
  margin : 0 auto;
 
}
.Column{
  display : table-cell;
  text-align : center;
  margin : 0 auto;
  
  

}
</style>
<div style="background-image:url('static/f.jpg'); background-size:500px 500px;">

<h1 class="party my-0" style="font-family:verdana; font-size:50px">IITG Anthem</h1>

<div class="Row">
  <div class="Column" style="border: 20px solid white">
    <iframe width="500" height="300" src="https://www.youtube.com/embed/FxDCJNszX9g"></iframe>
  </div>
</div>

<h1 class="party my-0" style="font-family:verdana; font-size:50px">Ice Breaking Session</h1>

<div class="Row">
  <div class="Column" style="border: 20px solid white">
    <video width="500" height="300" controls>
      <source src="static/IBS.mp4" type="video/mp4">
    </video>
  </div>
</div>

<h1 class="party my-0" style="font-family:verdana; font-size:50px">Talk on World Mental Health Day</h1>

<div class="Row">
  <div class="Column" style="padding-right:10px">
    <video width="475" height="275" controls>
      <source src="static/whd1.mp4" type="video/mp4">
    </video>
  </div>
  <div class="Column" style="padding-right:10px">
    <video width="475" height="275" controls>
      <source src="static/whd2.mp4" type="video/mp4">
    </video>
  </div>
  <div class="Column">
    <video width="475" height="275" controls>
      <source src="static/whd3.mp4" type="video/mp4">
    </video>
  </div>
</div>
</div>

{% endblock body %}